body {
    background-color: #786451;
    position: relative;
    background-image: url(library.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;


}

h1 {
    position: fixed;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    color: rgb(219, 198, 170);
    font-size: 2rem;
    border-bottom: 1px solid rgb(219, 198, 170) ;
}

#bookshelf {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    gap: 3em .5em;
    padding: 3em;
}



.book-card {
    background-color: #1e5d2f;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 50px 2px 30px 10px;
    width: 5rem;                /* narrow like a book spine */
    height: 12rem;              /* same as your shelf row height */
    overflow: hidden;           /* hide extra text */
    border-radius: 0.25rem;
    transition: all 0.4s ease;  /* for smooth expanding effect */
    box-shadow: -7px 7px 10px black;
}

.card-actions {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;           
    align-items: center;      

}

.card-actions > button,
.exp-collapse > button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.card-actions > .edit > img, 
.card-actions > .trash > img {
    height: 1.5em;
    display: inline;
    color: navy;
    filter: invert(1);
    
}

.exp-collapse > .expand > img {
    height: 1.5em;
    filter: invert(0);
    position: absolute;
    right: 5px;
    bottom: 5px;
}


.book-card > .title-css,
.book-card > .auth-css {
    writing-mode: vertical-rl;
    white-space: wrap;
    text-overflow: ellipsis;
    font-size: 1em;
}

.book-card > .auth-css {
    writing-mode: horizontal-tb;
}

.book-card > .read-css,
.book-card > .pages-section {
    display: none;
}



/* book card expanded */



.book-card.expanded {
    min-width: 400px;
    max-width: 1fr;
    writing-mode: horizontal-tb;
    overflow: visible;
    white-space: normal;
    padding: 1rem;
    margin: 2rem;
    z-index: 1;

    position: fixed;          
    top: 50%;                 
    left: 50%;                
    transform: translate(-50%, -50%);
    border-radius: 0.25rem;
    box-shadow: 0 10px 40px rgba(0,0,0,0.5);
    transition: all 0.4s ease;
    box-shadow: -7px 7px 10px black;

}




.book-card.expanded .read-css,
.book-card.expanded .pages-section {
    display: block;
}

.book-card.expanded .title-css {
    writing-mode: horizontal-tb;
}

.book-card.dimmed {
    opacity: 0.3;          /* fade other books */
    pointer-events: none;  /* prevent clicking while dimmed */
    transition: opacity 0.3s ease;
}

#new-book-button {
    cursor: pointer;
    display: block;
    background-color: #322a23;
    color: beige;
    font-size: 1rem;
    padding: .5rem 1rem;
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}


/* Form Styling */

#book-dialog {
    background-color: rgb(131, 106, 74) ;
    border: none;
    box-shadow: -7px 7px 10px black;;
}

#book-dialog img {
    height: 1.5em;
    position: absolute;
    left: 10px;
    top: 10px;
    cursor: pointer;
}

#book-dialog > #book-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    color: rgb(44, 33, 17);
    align-items: center;
    width: 30vw;
    font-size: 1.1rem;
    font-weight: 700;
}


#book-dialog > #book-form > div {
    display: flex;
    flex-direction: column;
}


#book-dialog > #book-form > div > fieldset {
    display: flex;
    flex-direction: column;
    border: 2px dashed rgb(53, 34, 12);
}

#book-dialog > #book-form > div > fieldset > label {
    font-weight: 100;
    padding: 3px;
    cursor: pointer;

}

#book-dialog > #book-form > div > fieldset > label > input {
    cursor: pointer;
}

#book-dialog > #book-form > #radio-pages {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;

}

#book-dialog > #book-form > #radio-pages > div {
    display: flex;
}


#book-dialog > #book-form > #radio-pages > div > input {
    width: 40px;
    height: 20px;
}