body {
    background-image: url(bookshelf.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: #cac280;
    
}

#bookshelf {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
}



.book-card {
    background-color: #1e5d2f;
    padding: 1em;
    position: relative;
}

.card-actions {
    position: absolute;
    top: 8px;
    right: 8px;
}

.card-actions > button {
    background: none;
    border: none;
    padding: 0;
    cursor: pointer;
}

.card-actions > .edit > img, 
.card-actions > .trash > img {
    height: 1.5em;
    display: inline;
    color: navy;
    filter: invert(1);
}